.jumbotron {
  background-image: linear-gradient(#ECF216, rgba(245, 179, 92, 0.836));
  color: black;
  margin-top: 15px;
  text-align: center;
}
.about-hotel {
  flex: 1 150px;
  padding: 2px 6px 2px 6px;
}
.card {
  flex: 1 150px;
  padding: 2px 6px 2px 6px;
  margin: 10px 20px 10px 20px;
  text-align: center;
  background-color: #fff6c4;
}
.card .card.precios {
  flex: 1 100px;
  padding: 2px 6px 2px 6px;
  margin: 10px 20px 10px 20px;
  text-align: center;
}
.card .card-hotel {
  flex: 1 150px;
  padding: 2px 6px 2px 6px;
  margin: 10px 20px 10px 20px;
  text-align: center;
}
.p-align {
  text-align: center;
}
.card-color-collapse1 {
  background-color: lightpink;
}
.card-color-collapse2 {
  background-color: lightseagreen;
}
.card-color-collapse3 {
  background-color: lightcyan;
}
.btn-collapse {
  margin: 30px 40px 30px 40px;
  width: 25%;
}
.btn-address-icon {
  padding-right: 10px;
}
.btn-reservar {
  width: 80%;
  margin-top: 10px;
  background-color: white;
}
.tab-content {
  padding-top: 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-image: linear-gradient(#ECF216, rgba(245, 179, 92, 0.836));
  margin-bottom: 0px;
  margin-top: 10px;
}
